<header>
  <h1>Find Products</h1>
</header>
<section>
  <form>
    <div>
      <label for="keywords">Keywords</label>
      <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Product name, e.g. Windex">
    </div>
    <div>
      <button ng-click="search(keywords)">Search</button>
    </div>
  </form>
</section>
<hr>
<section ng-if="products">
  <h1>Results</h1>
  <ul>
    <li ng-repeat="product in products">
      <section>
        <h1 style="margin-top: 0"><a href="#">{{product.name}}</a></h1>
        <div>
          <button>Edit</button>
          <button>Delete</button>
        </div>
      </section>
    </li>
  </ul>
</section>
